name: Deploy Staging
on:
  push:
    branches: [ staging ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Add build steps here if needed

      - name: Deploy to Staging Folder
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: .
          target-folder: staging # The subfolder name
          clean: false # Don't wipe the rest of the site!